@import 'fonts.css';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
::-webkit-scrollbar{
    width: 8px;
    height: 8px;
    border-radius: 10px;
}
::-webkit-scrollbar-thumb{
    background: #41A28E;
    border-radius: 10px;
}
a {
    text-decoration: none;
}

ul {
    list-style: none;
}

body {
    font-family: Playfairy;
    background: #000;
}

.container {
    max-width: 1140px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
}

.nav__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__list {
    display: flex;
    gap: 40px;
    flex-grow: 1;
    justify-content: center;
}
.nav__menu-btn{
    display: none;
    flex-direction: column;
    gap: 10px;
    border: none;
    background: transparent;
}
.nav__menu-btn::before,
.nav__menu-btn::after{
    content: '';
    width: 30px;
    height: 2px;
    background: #000;
    transition:0.3s;
    
}
.nav__menu-btn>span{
    width: 30px;
    height: 2px;
    background: #000;
    transition:0.3s;
    
}
.nav__menu-btn:focus>span{
    opacity: 0;
}
.nav__menu-btn:focus::before{
    transform: translateY(12px) rotate(45deg);
}
.nav__menu-btn:focus::after{
    transform: translateY(-12px) rotate(-45deg);
}



.nav__menu{
    display: flex;
    flex-grow: 1;
}
.nav {
    padding: 25px 0;
}

.nav__dropdown-link,
.nav__link {
    color: #000;
    font-size: 14px;
    line-height: 16px;
    text-shadow: 3px 3px 10px #000;
    transition: 0.3s;
}

.nav__link:hover {
    text-shadow: none;
}

.nav__form>input {
    outline: none;
    border: 1px solid #41A28E;
    font-size: 14px;
    line-height: 16px;
    padding: 6px 12px;
    width: 180px;
}

.nav__form>input::placeholder {
    color: #4B4848;
}

.nav__form>button {
    background: #41A28E;
    width: 30px;
    height: 30px;
    border: 1px solid #41A28E;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav__form {
    display: flex;
    align-items: center;
    gap: 5px;
}

.nav__dropdown-link {
    text-shadow: none;
    display: inline-block;
    width: 160px;
    padding: 12px 30px;
}

.nav__dropdown {
    border: 1px solid #E5E5E5;
    border-radius: 2px;
}

.nav__dropdown-item:not(:nth-child(3)) {
    border-bottom: 1px solid #E5E5E5;
}

.nav__list>li {
    position: relative;
}

.nav__dropdown {
    position: absolute;
    opacity: 0;
    pointer-events: none;
    background: #fff;
}

.nav__list>li:hover .nav__dropdown {
    opacity: 1;
    pointer-events: all;
}

.header__bottom {
    background: url(../images/header-bg.jpg) no-repeat center /cover;
    height: 750px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.header__title {
    color: #fff;
    font-weight: 400;
    font-size: 50px;
    line-height: 67px;
    margin-bottom: 46px;
    position: relative;
    z-index: 1;
}

.header__title::before {
    content: '';
    width: 630px;
    height: 100px;
    display: inline-block;
    background: rgba(0, 0, 0, 0.7);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
}

.header__subtitle {
    text-shadow: 6px 6px 5px rgba(0, 0, 0, 0.38);
    font-size: 22px;
    line-height: 29px;
    color: #FFFFFF;
    margin-bottom: 50px;
}

.btn {
    padding: 21px 0;
    color: #000;
    background: #fff;
    font-size: 12px;
    line-height: 16px;
    text-align: center;
    display: inline-block;
    transition: 0.3s;
}

.btn:hover {
    color: #fff;
    background: #41A28E;
}

.header__btn {
    width: 131px;
}

.commerce {
    padding-top: 48px;
    padding-bottom: 72px;
}

.commerce__content {
    display: flex;
    justify-content: space-between;
}

.commerce__name {
    background: rgba(75, 72, 72, 0.7);
    padding: 2px 0;
    font-weight: 400;
    font-size: 25px;
    line-height: 33px;
    color: #FFFFFF;
    text-align: center;
    position: absolute;
    width: 100%;
    bottom: 0;
    transform: translateY(100%);
    transition: 0.3s;
}

.commerce__item {
    position: relative;
    overflow: hidden;
}

.commerce__img {
    width: 100%;
    height: 100%;
}

.commerce__item:hover>.commerce__name {
    transform: translateY(0);
}

.title {
    font-weight: 400;
    font-size: 50px;
    line-height: 67px;
    text-align: center;
}

.commerce__title {
    margin-top: 52px;
    padding-bottom: 18px;
}

.text {
    width: 496px;
    text-align: center;
    margin: 0 auto;
    font-size: 16px;
    line-height: 19px;
    color: #666666;
    font-family: Roboto;
}

.project {
    padding-top: 120px;
    padding-bottom: 112px;
    background: url(../images/project-bg.png) no-repeat center /cover fixed;
}

.project__text {
    color: #FFFFFF;
    font-size: 20px;
    line-height: 27px;
    margin-bottom: 3px;
}

.project__title {
    font-weight: 400;
    font-size: 50px;
    line-height: 67px;
    color: #fff;
    margin-bottom: 22px;
}

.project__btn {
    width: 190px;
}

.product__title {
    margin-bottom: 18px;
}

.product {
    padding: 50px 0;
}

.product__content {
    margin-top: 70px;
    display: flex;
    justify-content: space-between;
}

.product__item-top {
    position: relative;
    overflow: hidden;
}

.product__item-info {
    position: absolute;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.7);
    width: 100%;
    padding: 17px 19px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transform: translateY(100%);
    transition: 0.3s;
}

.product__item-icon {
    display: flex;
    gap: 22px;
}

.product__item-icon a {
    display: flex;
    align-items: center;
}

.product__item-order {
    display: flex;
    gap: 15px;
    color: #fff;
    font-size: 12px;
    line-height: 16px;
}

.product__item-img {
    vertical-align: bottom;
}

.product__item:hover .product__item-info {
    transform: translateY(0);
}

.product__item-bottom {
    margin-top: 43px;
}

.product__item-name {
    font-weight: 400;
    font-size: 22px;
    line-height: 29px;
    margin-bottom: 6px;
}

.product__item-price {
    font-size: 18px;
    line-height: 24px;
    color: #000000;
    font-feature-settings: 'pnum'on, 'lnum'on, 'liga'off;
}

.discount {
    color: #666666;
    margin-right: 15px;
    text-decoration: line-through;
}

.sale,
.out {
    position: relative;
}

.out::before {
    content: 'OUT OF STOCK';
    text-transform: uppercase;
    font-family: Roboto;
    font-size: 12px;
    line-height: 14px;
    color: #fff;
    padding: 10px 18px;
    background: #4B484B;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

.sale::before {
    content: 'sale';
    text-transform: uppercase;
    font-family: Roboto;
    font-size: 12px;
    line-height: 14px;
    color: #fff;
    padding: 10px 18px;
    background: #4B484B;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

.footer {
    background: #000;
    padding: 36px 0;
}

.footer__content {
    display: flex;
    justify-content: space-between;
}

.footer__title {
    color: #fff;
    font-size: 24px;
    line-height: 32px;
    margin-bottom: 40px;
}

.footer__link {
    font-size: 14px;
    line-height: 16px;
    color: #fff;
    font-family: Roboto;
    display: flex;
    align-items: center;
    gap: 10px;
}
.footer__list {
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.footer__text {
    width: 255px;
    font-size: 14px;
    line-height: 16px;
    color: #fff;
    font-family: Roboto;
    margin: 20px 0;
}
.footer__form {
    display: flex;
}
.footer__input {
    padding: 14px 10px;
    border: none;
    outline: none;
    font-family: Roboto;
    font-size: 14px;
    line-height: 16px;
}
.footer__btn {
    border: none;
    outline: none;
    font-size: 16px;
    line-height: 19px;
    background: #41A28E;
    color: #fff;
    padding: 12px 10px;
    cursor: pointer;
}
.footer__payment{
    display: flex;
    column-gap: 25px;
}
.footer__link:hover{
    color: #41A28E;
}
.footer__link:hover path{
    fill: #41A28E;
}